<h1>Pages#landing</h1>

<div style="position: relative; width: 300px; height: 300px;">
  <% @layers.each do |layer_type, filename| %>
    <%= image_tag "#{filename}.png", style: "position: absolute; top: 0; left: 0;" %>
  <% end %>
</div>
